# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Temp files
*.tmp
*.temp
*~
docs/
.github/

# test files
.playwright-mcp/