:root {
  --primary-color: #00b451 !important;
  --primary-color2: #194294 !important;
  --white-color: #ffff !important;
  --jost-font: "Jost", sans-serif;
  --rubik-font: "Rubik", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
